body {
  background-color: #E9F1F7;
  font-family: 'Cuprum', sans-serif;
}


.banner {
  background-color: #6D7E91;
  border-bottom: solid 2px #1F363D;
  display: flex;
  justify-content: space-between;
  height: 4em;
}

.upper-container {
  display: flex;
  justify-content: flex-start;
  height: 33rem;
  width: 100%;
}