

.current-temp {
  font-size: 9em;
  font-weight: bold;
  color: #FFE17D;
  margin: auto;
  text-shadow: 5px 6px #1F363D;
}


.curr {
  font-size: 2.05em;
  font-weight: 400;
  margin: .50em;
  color: #FFE17D;
  text-shadow: 2px 2px #1F363D;
}

.current-summary {
  width: 170%;
}


.high-low {
  display: flex;
}

.divide {
  font-size: 2em;
  font-weight: 400;
  margin: .50em;
  color: #FFE17D;
  text-shadow: 2px 2px #1F363D;
}

.current-weather-icon {
  height: 18em;
  margin-right: 5em;
  width: 18em;
}

.temp-span-left {
  margin-right: .1em;
}

.temp-span-right {
  margin-left: -0.87em;
}


.weather-card {
	background-color: #6D7E91;
  border: 2px solid #1F363D;
  display: flex;
  margin-left: 8.5em;
  margin-top: 1em;
  padding-left: .8em;
  text-align: left;
  width: 60%;
}