input[type=text] {
  background-color: #E9F1F7;
  font-family: 'Cuprum', sans-serif;
  font-size: 1em;
  padding: 0;
  margin: 0;
}


.location-input{
  height: 2em;
  width: 20em;
}

.search-wrap {
  display: flex;
  justify-content: space-evenly;
  margin-right: 1em;
  margin-top: .5em;
}

.submit{
  background-color: #1F363D;
  border-radius: 12px;
  color: #FFE17D;
  font-family: 'Cuprum', sans-serif;
  font-size: 1em;
  height: 2.3em;
  margin-left: .75em;
  text-align: center;
  width: 7.5em;
}

textarea:focus, input:focus{
  outline: none;
}

