.hour-text {
  color: #FFE17D;
  font-size: 1em;
  margin: auto 0;
  padding: 0;
  text-align: left;
  text-shadow: 2px 2px #1F363D;
}

.proj-temp-text {
  font-size: 2em;
  margin: auto;
}

.seven-day-wrapper {
  display: flex;
  justify-content: space-evenly;
  margin: auto 0;
  width: 15.5em;
}

.seven-day-display {
  background-color: #6D7E91;
  color: #FFE17D;
  display: flex;
  height: 4.44em;
  padding: 0;
  text-shadow: 2px 2px #1F363D;
  width: 10em;
}

ul {
  list-style-type: none;
}

.weather-icon-seven {
  width: 3.2em;
}