ul {
  list-style-type: none;
}

.seven-day-display {
  background-color: #6D7E91;
  color: #FFE17D;
  height: 4.44em;
  padding: 0;
  text-shadow: 2px 2px #1F363D;
  width: 10em;
}

.hour-text {
  color: #FFE17D;
  text-align: left;
  text-shadow: 2px 2px #1F363D;
  font-size: 1.7em;
  margin: auto 0;
  margin-left: 1em;
  padding: 0;
}

.proj-temp-text {
  font-size: 1em;
  margin: auto 0;

}