.ten-day-wrapper {
  display: flex;
  margin: auto 0;
  width: 13em;
  font-size: 1em;
}

.day-wrap {
  display: flex;
  flex-direction: column;
}

.day-header {
  margin: auto 0;
  font-size: 2.5em;
}

.wrap-horiz {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: auto 2em;
}

.weather-icon {  
  width: 6em;
}

.high-low {
  display: flex;
  align-items: center;
}