.tenDayCard{
  background-color: #6D7E91;
  border: 2px solid black;
  color: #FFE17D;
  display: flex;
  font-size: .55em;
  height: 18em;
  margin: 2em;
  text-shadow: 2px 2px #1F363D;
  width: 125em;
}
