.day-header {
  font-size: 2.5em;
  margin: auto 0;
}

.day-wrap {
  display: flex;
  flex-direction: column;
}

.high-low {
  align-items: center;
  display: flex;
}

.ten-day-wrapper {
  display: flex;
  font-size: 1em;
  margin: auto 0;
  width: 13em;
}

.wrap-horiz {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: auto 2em;
}

.weather-icon {  
  width: 6em;
}
