.app-title {
  font-size: 3em;
  font-weight: 400;
  justify-content: center;
  margin: auto 0;
}

.banner {
  background-color: #ABFEDB;
  border-bottom: solid 3px black;
  display: flex;
  height: 2.81em;

}

.weather-icon {
  width: 4em;
}